<launch>
  <node name="update_frame_id" pkg="hma_pcl_reconst" type="update_frame_id.py" output="screen" />

  <node pkg="nodelet" type="nodelet" args="manager" name="standalone_nodelet" output="screen"/>

  <!-- Convert to point cloud -->
  <node pkg="nodelet" type="nodelet" name="hmc_pcl_reconst" args="standalone hma_pcl_reconst/point_cloud_xyzrgb standalone_nodelet --no-bond" output="screen">

  <remap from="depth_registered/points" to="/hma_pcl_reconst/depth_registered/points"/>
  <!-- <param name="queue_size" type="int" value="15" />
  <param name="exact_sync" type="bool" value="false" /> -->
  <!-- <remap from="/rgb/image_rect_color" to="/hsrb/head_rgbd_sensor/rgb/image_rect_color"/>
  <remap from="/depth_registered/image_rect" to="/hsrb/head_rgbd_sensor/depth_registered/image_rect_raw"/>
  <remap from="/rgb/camera_info" to="/hsrb/head_rgbd_sensor/rgb/camera_info"/> -->
   
  </node>

</launch>
